<div class="container items-center justify-center m-auto ]">
    <div class="mx-[80px] mt-[80px] md:mx-[150px]">
        <h1 class="text-red-500 font-bold text-center">Update Inspection</h1>
        <label for="date_inspection" class="text-gray-500">Date de l'inspection <span
                class="text-red-600 font-bold">*</span>
            <input type="date" placeholder="Date de l'inspection" class="inputt" [value]="date | date:'yyyy-MM-dd'"
                [(ngModel)]="date" required>
        </label>
        <section>
            <label class="text-gray-500">Type d'activité <span class="text-red-600 font-bold">*</span></label>
            <select name="type_actife" class="inputt" [(ngModel)]="type_actife_selected" required>
                <option value="">Please choose an option</option>
                <option [value]="r" *ngFor="let r of type_actife">{{r}}</option>
            </select>
        </section>


        <section>
            <label for="inspecteur" class="text-gray-500">Inspecteur <span
                    class="text-red-600 font-bold">*</span></label>
            <select name="inspecteur" class="inputt text-gray-500" [(ngModel)]="inspecteur" required>
                <option value="">choisissez un inspecteur</option>
                <option *ngFor="let a of type_actife" [value]="a">{{a}}</option>
            </select>
        </section>

        <section class="text-gray-500">
            <label for="type_actife" class="text-gray-500">Priorité <span
                    class="text-red-600 font-bold">*</span></label>
            <select name="type_actife" id="type_actife" class="inputt" [(ngModel)]="priorite_selected" required>
                <option value="">choisissez une priorité <span class="text-red-600 font-bold">*</span></option>
                <option *ngFor="let p of priorite" [value]="p" [value]="p">{{p}}</option>
            </select>
        </section>

        <div>
            <label for="description" class="text-gray-500">Description <span
                    class="text-red-600 font-bold">*</span></label>
            <textarea placeholder="Description" class="inputt" [(ngModel)]="description" required></textarea>
        </div>
        <div class="center_dev mt-4">
            <label for="file" class="text-gray-500">
                Pièces jointes <span class="text-red-600 font-bold">*</span>
                <input type="file" multiple id="file" name="file" class="inputt" required>
            </label>
        </div>
        <div class="center_dev mt-4">
            <button class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded"
                (click)="updateInspection()">
                Update
            </button>
        </div>
    </div>