<div class="container">
    <div class="bg-white w-max rounded-lg shadow-md sm:mx-8 mt-16 md:mx-16 lg:mx-24 2xl:mx-52">
        <button class="btnt bg-blue-600 w-fit text-xs ml-[80%] mt-4" [routerLink]="['/create-inspection']">Add Inspection</button>
        <h2 class="text-red-500 text-center font-extrabold my-4">Inspection List</h2>
        <table class="w-full text-sm items-center text-center">
            <thead class="border-solid border-b-2 bg-blue-400 text-white border-blue-300 ">
                <tr>
                    <th>Date</th>
                    <th>Type Actife</th>
                    <th>Inspecteur</th> 
                    <th>Priority</th>
                    <th>Description</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody class="bg-blue-300">
                <tr *ngFor="let inspection of inspectionList">
                    <td class="py-3 px-4 text-left">{{ inspection.date | date }}</td>
                    <td class="py-3 px-4 text-left">{{ inspection.type_actife }}</td>
                    <td class="py-3 px-4 text-left">{{ inspection.inspecteur }}</td>
                    <td class="py-3 px-4 text-left">{{ inspection.priority }}</td>
                    <td class="py-3 px-4 text-left">{{ inspection.description }}</td>

                    <td class="grid grid-cols-2 gap-4 py-3 px-4 text-left">
                        <button [routerLink]="['/update-inspection', inspection.id]"
                            class="bg-blue-500 hover:bg-blue-700 btnt">
                            Edit
                        </button>
                        <button (click)="deleteInspection(inspection.id)" class="bg-red-500 hover:bg-red-700 btnt">
                            Delete
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<router-outlet></router-outlet>