<div class="container max-w-full top-0">
    <div class=" bg-[#3b589c] h-[100px] items-center 
            justify-center bg-[url('assets/pictures/ship.png')] bg-no-repeat bg-cover
            text-white grid grid-cols-2 space-around 
            ">


    </div>
    <div class="bg-blue-400 h-screen w-[250px] fixed left-0 top-0">
        <div >
            <h1 class="text-gray-50 text-xl font-bold text-center mb-5">TangerMed</h1>
            <div class="grid grid-cols-1 justify-center items-center">
                <button [routerLink]="['list-users']" >Users</button>
                <button [routerLink]="['inspection-list']">Inspection</button>
                <button>Anomaly</button>
            </div>
            <div class="ml-[20px] ">
                    <router-outlet></router-outlet>
            </div>
                    
        </div>
